<table style="font-family: sans-serif; font-size: 13px;">
    <tr>
        <td style="text-align:right; font-weight: bold;">Total invested:</td>
        <td>{{ total_invested }}</td>
    </tr>
    <tr>
        <td style="text-align:right; font-weight: bold;">Expenses:</td>
        <td>{{ total_expenses }}</td>
    </tr>
    <tr>
        <td style="text-align:right;">Salary:</td>
        <td>{{ net_salary }}</td>
    </tr>
    <tr>
        <td style="text-align:right;">Rent Lize:</td>
        <td>{{ rent_lize }}</td>
    </tr>
    <tr>
        <td style="text-align:right; font-weight: bold;">Total income:</td>
        <td>{{ total_income }}</td>
    </tr>
    <tr>
        <td style="text-align:right; font-weight: bold;">After expenses:</td>
        <td>{{ total_after_expenses }}</td>
    </tr>
</table>